{% extends 'base.html' %}
{% block content %}

<h1>List of Bills</h1>

{% for bill in bills %}
    <div class="card">
      <a href="/bills/{{ bill.id }}">
        <div class="card-content">
            <span class="card-title">{{ bill.name }}</span>
            <p>Company: {{ bill.company }}</p>
            <p>Description: {{ bill.description }}</p>
            {% if bill.amount > 0 %}
                <p>Amount: {{ bill.amount }}</p>
            {% else %}
                <p>Amount: Paid</p>
            {% endif %}
        </div>
       </a>
    </div>
{% endfor %}

{% endblock %}

